[Unit]
Description=Cadence
{% if ansible_os_family == "Debian" %}
After=mysql.service
{% else %}
After=mysqld.service
{% endif %}

[Service]
Type=simple
Restart=on-failure
User={{ cadence_system_user }}
ExecStart=/usr/bin/cadence-server --root=/etc/cadence --env=archivematica start --services=frontend,matching,history,worker

[Install]
WantedBy=enduro.service

